@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LegendKata</h1>
    <p>Please navigate to the SearchEngine button on the navbar to begin</a>.</p>
</div>
